<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>description</key>
		<string>健身</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Learn iOS</string>
	</dict>
	<dict>
		<key>description</key>
		<string>看电影</string>
	</dict>
</array>
</plist>
